:root {
  --color-primary: #eceff1;
  --color-secondary: #babdbe;
  --color-accent: #ffa726;
  /* For surface-* see elevation https://material.io/design/color/dark-theme.html#properties*/
  --color-surface-0: #ffffff; /* Background */
  --color-surface-01: #babdbe; /* Background */
  --color-surface-02: rgba(255, 255, 255, 0.07); /* Background */
  --color-surface-24: rgba(255, 255, 255, 0.16); /* Background */
  --color-high-on-surface-0: rgba(0, 0, 0, 0.87); /* High-emphasis text color */
  --color-medium-on-surface-0: rgba(0, 0, 0, 0.54); /* Medium emphasis color */
  --color-disabled-on-surface-0: rgba(
    0,
    0,
    0,
    0.38
  ); /* Disabled emphasis color */
  --color-high-on-accent-0: rgba(0, 0, 0, 0.87);
  --color-error: #ef5350; /* error */
  --color-brand: rgb(205 29 43); /* logo color */
}

@tailwind base;

/* purgecss ignore */
.menu-is-open .sliding-menu {
  @apply left-0;
}

/* purgecss ignore */
.menu-is-open .sliding-content {
  @apply ml-72;
  @apply fixed;
}

/* purgecss ignore */
.iframeModal-content {
  border: none !important;
  padding: 0 !important;
  @apply w-full h-full bg-surface-0 !important;
}

/* purgecss ignore */
.askQuestionModal-content,
.askQuestionModalNarrow-content {
  border: none !important;
  padding: 0 !important;
  @apply w-full bg-surface-0 rounded p-2 shadow !important;
}

/* purgecss ignore */
.askQuestionModal-overlay,
.askQuestionModalNarrow-overlay {
  @apply p-2 !important;
}

/* purgecss ignore */
@screen md {
  .emailConfModal-content {
    @apply max-w-xs !important;
  }

  .iframeModal-content {
    height: 80% !important;
    @apply max-w-xs rounded !important;
  }

  .askQuestionModal-content {
    @apply max-w-lg !important;
  }

  .askQuestionModalNarrow-content {
    @apply max-w-md !important;
  }

  .askQuestionModal-overlay,
  .askQuestionModalNarrow-overlay {
    @apply p-0 !important;
  }
}

.html-content > p {
  @apply mb-3;
}

.html-content > ol {
  list-style: decimal;
  margin-left: 20px;
}

@tailwind components;

@tailwind utilities;
